.benefits-section {
    background-color: $color-light-grey;
    display: flex;
    justify-content: center;
    margin-top: 200px;
    height: 1800px;

    .benefits-section-container {
        width: 1124px;

        .benefits-first-block {
            margin-top: 100px;
            background-color: $color-white;
            border: 1px solid #e8e9ed;
            border-radius: 5px;

            .left-part {
                height: 370px;

                h2 {
                    font-size: 36px;
                    color: $color-black;
                    font-family: $font-raleway;
                    margin-left: 36px;
                    padding-top: 91px;

                    @media (max-width: 992px) {
                        width: 70%;
                    }
                }

                p {
                    margin-left: 36px;
                    position: relative;
                    margin-top: 30px;
                    font-size: 16px;
                    color: $color-black;
                    width: 416px;
                    font-family: $font-open-sans;

                    &:before {
                        content: '';
                        position: absolute;
                        width: 328px;
                        border: 4px solid $color-redish;
                        margin-top: 116px;

                        @media (max-width: 576px) {
                            width: 80%;
                        }
                    }

                    @media (max-width: 576px) {
                        width: 80%;
                    }
                }
            }

            .right-part {
                width: 100%;
                height: 370px;
                display: flex;
                justify-content: center;
                align-items: center;
            }

            .image {
                display: flex;
                justify-content: center;
                width: 80%;
                position: relative;

                img {
                    width: 100%;
                    z-index: 2;

                    @media (max-width: 992px) {
                        max-width: 70%;
                    }
                }
                &:before {
                    content: '';
                    z-index: 1;
                    top: -40px;
                    right: 0;
                    width: 130px;
                    height: 130px;
                    border-radius: 41px;
                    background-color: #fb3b64;
                    transform: rotate(45deg);
                    position: absolute;

                    @media (max-width: 992px) {
                        width: 150px;
                        height: 150px;
                        right: 50px;
                    }
                }
            }
        }

        @media (max-width: 992px) {
            width: 85%;
        }

        .benefits-second-block {
            margin-top: 100px;
            background-color: $color-white;
            border: 1px solid #e8e9ed;
            border-radius: 5px;

            .left-part {
                height: 370px;

                .image {
                    height: 100%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    position: relative;
                    img {
                        margin-top: 50px;
                        width: 80%;
                        z-index: 2;

                        @media (max-width: 992px) {
                            width: 50%;
                            margin: 0;
                            margin-top: 40px;
                        }

                        @media (max-width: 576px) {
                            width: 100%;
                        }
                    }

                    &:before {
                        content: '';
                        display: flex;
                        position: absolute;
                        height: 300px;
                        width: 300px;
                        z-index: 1;
                        border-radius: 50%;
                        background-color: $color-primary;
                        margin-left: -100px;

                        @media (max-width: 992px) {
                            top: 50;
                            height: 250px;
                            width: 250px;
                            margin-right: 50px;
                        }

                        @media (max-width: 576px) {
                            margin-right: -60px;
                        }
                    }
                }
            }

            .right-part {
                height: 370px;
                h2 {
                    font-size: 36px;
                    font-family: $font-raleway;
                    color: $color-black;
                    width: 246px;
                    margin-top: 69px;
                    margin-left: 36px;

                    @media (max-width: 992px) {
                        width: 70%;
                    }
                }

                p {
                    margin-left: 36px;
                    font-size: 16px;
                    font-family: $font-open-sans;
                    color: $color-black;
                    width: 416px;
                    margin-top: 30px;

                    &:before {
                        content: '';
                        position: absolute;
                        width: 328px;
                        border: 4px solid $color-primary;
                        margin-top: 116px;

                        @media (max-width: 576px) {
                            width: 50%;
                        }
                    }

                    @media (max-width: 576px) {
                        width: 80%;
                    }
                }
            }
        }

        .benefits-third-block {
            margin-top: 100px;
            background-color: $color-white;
            display: flex;
            justify-content: space-between;

            .col-5 {
                background-color: $color-green;
            }

            .left-part {
                height: 370px;
                h2 {
                    font-size: 36px;
                    font-family: $font-raleway;
                    color: $color-black;
                    width: 348px;
                    margin-top: 69px;
                    margin-left: 36px;

                    @media (max-width: 992px) {
                        width: 70%;
                    }
                }

                p {
                    margin-left: 36px;
                    font-size: 16px;
                    font-family: $font-open-sans;
                    color: $color-black;
                    width: 553px;
                    margin-top: 30px;

                    &:before {
                        content: '';
                        position: absolute;
                        width: 328px;
                        border: 4px solid $color-green;
                        margin-top: 116px;

                        @media (max-width: 576px) {
                            width: 50%;
                        }
                    }

                    @media (max-width: 576px) {
                        width: 80%;
                    }
                }
            }

            .right-part {
                background-color: $color-green;
                height: 370px;
                .image {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    height: 100%;

                    img {
                        margin-top: 70px;
                        width: 100%;

                        @media (max-width: 992px) {
                        }
                    }
                }
            }
        }
    }

    @media (max-width: 992px) {
        height: 3000px;
    }
}
